langchain>=0.0.270
openai>=0.0.6
langchain-chroma>=0.0.6
langchain-experimental>=0.0.1
unstructured[all-docs]==0.10.19
pillow
pydantic
lxml
matplotlib
tiktoken
open_clip_torch
torch
llama-index-vector-stores-qdrant
llama_index
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
torchvision
scikit-image
qdrant_client>=1.1.0
llama-index-embeddings-clip
python-dotenv
wikipedia
